CompileFlags:
  CompilationDatabase: build/lint
  Compiler: clang-cl
  Add:
    - --target=x86_64-pc-windows-msvc

Diagnostics:
  UnusedIncludes: None
  ClangTidy:
    Remove:
      - misc-unused-alias-decls

Index:
  StandardLibrary: false

---

If:
  PathMatch: (extern|build)/.*

Index:
  Background: Skip

Diagnostics:
  Suppress: ['*']
